@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-400.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/roboto-400.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-italic.ttf");
}


body {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    font-family: "Roboto";
    color: rgb(98, 98, 98);
}

h3 {
    margin: 0;
    padding: 0;
}

.navigation h3:hover {
    filter: contrast(50%);
    cursor: pointer;
}

.navigation-item a {
    text-decoration: none;
    color: inherit;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    align-self: center;
}

.content-item {
    background-color: white;
    border: 1px solid rgb(215, 214, 214);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    filter: drop-shadow(0 0 0.1rem #bdbdbd);
    border-radius: 10px;
}


.location-search-form {
    display: flex;
    padding: 0 5px;
    background-color: rgb(243, 243, 243);
    width: 400px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 225);
    transition: 1s;
}

.location-search-form:hover {
    border: 1px solid rgb(202, 202, 203);
}

.location-search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

.location-search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.location-wind {
    font-size: 24px;
}

.weather-info {
    display: block;
    padding: 0;
    margin: 0;
}

.weather-card {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    transition: 2s;
    filter: drop-shadow(0 0 0.1rem #bdbdbd);
    padding-bottom: 5px;
}

.weather-card:hover {
    transform: scale(1.01);
    filter: brightness(102%) drop-shadow(0 0 0.5rem #757575);
    
}

.weather-condition-icon {
    transition: 1s;
}
.weather-condition-icon:hover {
    transform: scale(1.01);
    filter: brightness(105%) drop-shadow(0 0.25rem 0.25rem #757575) invert(1);   
}

.weather-main-info {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    grid-template-columns: 1fr auto 1fr;
    /* border-bottom: 1px solid rgb(224, 224, 225); */
}

.weather-main-info > *:first-child {
    justify-self: start;
    text-align: left;
}

.weather-main-info > *:last-child {
    justify-self: end;
    text-align: right;
}

.weather-background {
    background-image: url(../img/cloudy.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0 0;
    border-radius: 10px 10px 0 0; 
    height: 450px;
    width: 100%;
    overflow: hidden;
    animation: zoom 40s infinite alternate;
}


@keyframes zoom {
  from { background-size: 100%; }
  to { background-size: 120%; }
}



.weather-info-upper {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.weather-main-meta {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.weather-main-meta .location-temp {
    font-size: 60px;
}